<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="GOAL_COLOR">0xb34d1aff</entry>
<entry key="ANT_SIZE">10.0</entry>
<entry key="SCREEN_HEIGHT">600.0</entry>
<entry key="ANT_LIFETIME">200</entry>
<entry key="ANT_HIT_PENALTY">1.5</entry>
<entry key="GOAL_RADIUS">30.0</entry>
<entry key="SCREEN_WIDTH">1500.0</entry>
<entry key="ANT_POPULATION">2000</entry>
<entry key="GOAL_Y">300.0</entry>
<entry key="OBSTACLE_COLOR">0x336666ff</entry>
<entry key="ANT_START_Y">300.0</entry>
<entry key="GOAL_X">900.0</entry>
<entry key="ANT_START_X">100.0</entry>
<entry key="ANT_SPEED">10.0</entry>
<entry key="SCREEN_BACKGROUND">0x1a3399ff</entry>
<entry key="ANT_COLOR">0xb31a1aff</entry>
<entry key="ANT_MUTATION_RATE">0.02</entry>
</properties>
